[submodule "sagp_member_db"]
	path = sagp_member_import
	url = git@github.com:brash99/sagp_member_import.git
[submodule "sagp_member_manager"]
	path = sagp_member_manager
        url = git@github.com:brash99/sagp_member_manager.git
[submodule "sagp-website-archive"]
	path = sagp-website-archive
	url = git@github.com:brash99/sagp-website-archive.git
[submodule "sagp_website"]
	path = sagp_website
	url = git@github.com:sagp-org/sagp_website.git
